:root{
    --mainColor: #0e0404;
    --secondaryColor: #2b2626;

    --borderColor: #737171;

    --mainText: #FFF;
    --secondaryText: #eeeeee;

    --themeDotBorder: #fff;

    --previewBackground:rgba(95, 94, 94, 0.8); 
    --previewShadow: #1b1919; 

    --buttonColor: #1e1e1e;
}