:root{
    --mainColor: #ebe7e7;
    --secondaryColor: #cccbcb;
    --borderColor: #c0bbbb;
    --mainText: #000;
    --secondaryText: #484e52;
    --themeDotBorder: #24294e;
    --previewBackground:rgba(255, 255, 255, 0.8); 
    --previewShadow: #dad9d8; 
    --buttonColor: #000;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: black;
}
body *{
    transition: 0.3s;
}
h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}
p, li, span, label, input, textArea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;;
}
a{
    text-decoration: none;
    color: #17a2b8;
}
ul{
    list-style: none;
}
h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}
.menu-container {
position: fixed;
top: 0.85em;
left: 1em;
z-index: 999;
display: inline-block;
}
.menu-button {
height: 16px;
width: 16px;
border-radius: 5px;
justify-content: center;
align-items: center;
display: flex;
cursor: pointer;
padding: 10px;
background-color: #00000000;
color: #ffffffc0;
border: none;
outline: none;
}
.menu-button > img {
width: 16px;
height: 16px;
margin: 0;
padding: 10px;
border-radius: 5px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.7);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.7);
background-color: #00000080;
}
.menu-dropdown {
float: left;
position: relative;
border-radius: 5px;
background-color: #00000080;
opacity: 0;
visibility: hidden;
transition: width 0.4s, opacity 0.1s, visibility 0.1s;
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.85);
width: 0px;
top: 35px;
left: -8px;
z-index: 1000;
position: absolute;
}
.menu-dropdown.open {
width: 180px;
opacity: 1;
visibility: visible;
transition: width 0.1s, opacity 0.4s, visibility 0.4s;
}
.menu-list {
list-style-type: none;
margin: 0;
padding: 0;
}
.menu-list li a {
font-family: 'Russo One', sans-serif;
display: block;
padding: 6px 10px;
text-decoration: none;
font-size: small;
color: #ffffffc0;
transition: background-color 0.2s;
}
.menu-list li a:hover {
background-color: #00000050;
}
.pic {
    position: relative;
    width: 50%;
    height: 50%;
    background-size:contain;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    object-fit: cover;
    /* border: 2px solid var(--borderColor); */
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  }
.s1{
    background-color: var(--mainColor);
    overflow: auto;
    border: 1.5px solid var(--borderColor);
    border-top: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.s2{
    background-color: var(--secondaryColor);
    overflow: auto;
    border: 1.5px solid var(--borderColor);
    border-top: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.main-container{
    width: 95%;
    margin: 0 auto;
    align-content: center;
}
.business-card-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 10px;
    align-content: center;
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px 5px;
}
.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}
#profile_pic{
    display: block;
    margin: 0 auto;
    height: 270px;
    width: 270px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
}
.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    background-color: #000;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
.theme-dot:hover{
    border-color: #a8a8a8;
}
#light-mode{
    background-color: #fff;
}
#red-mode{ 
    background-color: #6b0101;
}
#blue-mode{
    background-color: #23394e;
}
#purple-mode{
    background-color: #42006a;
}
.about-wrapper{
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 10px;
    align-content: center;
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px 5px;
}
#skills{
    display: grid;
    text-align: center;
    background-color: var(--secondaryColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.social-links{
	display: grid;
	align-content: space-between;
	text-align: center;
}
#social-img{
	width: 99%;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 40px;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.post{
    margin-top: 10px;
    width: 96%;
    border-radius: 5px;
    border: 5px solid var(--borderColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.post-preview{
    background-color: #fff;
    padding: 15px;
}
.post-title{
    color:#000;
    margin:0
}
.post-intro{
    color: #4b5156;
    font-size: 14px;
}
.contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
    margin-bottom: 10px;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--secondaryColor);
    color: var(--mainText);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.contact-form label{
	line-height: 2.7em;
}
.contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}
.contact-button{
    display: block;
	max-width: 600px;
	margin: 0 auto;
    margin-bottom: 10px;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
    color: var(--mainText);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
#PortfolioWebsiteQRCode{
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 1rem;
    object-fit: cover;
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    background: var(--mainColor);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
#contributions {
    font-size: normal;
}