:root{
    --mainColor: #2e0808;
    --secondaryColor: #420e10;

    --borderColor: #0d0505;

    --mainText: #FFF;
    --secondaryText: #eeeeee;

    --themeDotBorder: #fff;

    --previewBackground:rgba(102, 54, 54, 0.8); 
    --previewShadow: #230000; 

    --buttonColor: #780808;
}