:root {
  background-color: #000;
  --mainColor: #0e0404;
  --secondaryColor: #2b2626;
  --borderColor: #737171;
  --mainText: #FFF;
  --secondaryText: #eeeeee;
  --themeDotBorder: #fff;
  --previewBackground: rgba(95, 94, 94, 0.8);
  --previewShadow: #1b1919;
  --buttonColor: #1e1e1e;
  --linkColor: rgb(2, 199, 206);
  --background-color: #000000a8;
}

body {
  width: 100%;
  height: 100%;
  background: url(images/carvedbackdrop.png) no-repeat center center;
  /* background: url(images/carvedmini.png) no-repeat center center; */

  background-size: cover;
  /* background-color: transparent; */
  margin: 0;
  padding: none;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  /* background: url(../images/HiddenCharmSoaps.png) no-repeat center center fixed; */
  background-attachment: fixed;
  width: auto;
  height: auto;
  top: 0;
  justify-content: center;
}

header {
  width: 100%;
  z-index: 1;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 2rem;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  background: none;
  font-weight: 500;
}

.menu-container {
  position: fixed;
  top: 1.05em;
  left: 1.2em;
  z-index: 999;
  display: inline-block;
}

.menu-button {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 10px;
  background-color: #00000000;
  color: #ffffffc0;
  border: none;
  outline: none;
}

.menu-button>img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  background-color: var(--background-color);
}

.menu-dropdown {
  float: left;
  position: relative;
  border-radius: 5px;
  background-color: var(--background-color);
  opacity: 0;
  visibility: hidden;
  transition: width 0.4s, opacity 0.1s, visibility 0.1s;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  width: 0px;
  top: 35px;
  left: -8px;
  z-index: 1000;
  position: absolute;
}

.menu-dropdown.open {
  width: 180px;
  opacity: 1;
  visibility: visible;
  transition: width 0.1s, opacity 0.4s, visibility 0.4s;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-list li a {
  font-family: 'Russo One', sans-serif;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  /* font-size: small; */
  color: #ffffffc0;
  transition: background-color 0.2s;
}

.menu-list li a:hover {
  background-color: #00000050;
}

.pic {
  position: relative;
  width: 50%;
  height: 50%;
  background-size: contain;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem;
  object-fit: cover;
  /* border: 2px solid var(--borderColor); */
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.s1 {
  /* background: url(../images/HiddenCharmSoaps.png) no-repeat center center fixed; */
  overflow: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.s2 {
  background-color: transparent;
  /* background-color: var(--secondaryColor); */
  overflow: auto;
  /* border: 1.5px solid var(--borderColor); */
  border-top: none;
  /* border-bottom: 1.5px solid var(--borderColor); */
  padding-top: 1rem;
}

.main-container {
  background-color: var(--background-color);
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  align-content: center;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
}

.business-card-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 10px;
  align-content: center;
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px 5px;
}
#theme-options-wrapper{
  display: flex;
  position: fixed;
  top: 15px;
  right: 5px;
  gap:2px
}
.theme-dot{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  margin: 2px;
  margin-top: 0px;
  background-color: #000;
  /* border: 2px solid var(--themeDotBorder); */
  /* -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75); */
  cursor: pointer;
}
/* .theme-dot:hover{
  border-color: #a8a8a8;
  
} */
#light-mode{
  background-color: #fff;
}
.social-links{
	display: grid;
	align-content: space-between;
	text-align: center;
}
a{
  text-decoration: none;
  color: var(--linkColor);
}
.contact-button{
  display: block;
  width: 50%;
  font-size: larger;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--secondaryColor);
  color: var(--linkColor);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.process-card{
  padding: 0.5em;
}
.services-card{
  padding: 0.5em;
}
.features-wrapper {
  background-color: var(--color-background);
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.112) transparent;
  -ms-overflow-style: none;
}
.features-wrapper::-webkit-scrollbar {
  display: none;
  
}

/* .features-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(148, 148, 148, 0.4);
  border-radius: 10px;
} */


.features {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  color: #ffffff;
  height: 50px;
  min-width: 200px;
  width: 30%;
  flex-shrink: 0;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  margin: 5px;
  gap: var(--gap);
  --webkit-box-shadow: var(--background-color);
  -moz-box-shadow: var(--background-color);
  box-shadow: var(--background-color);
}
/* .features img{
  border-radius: 5px;
  height:150px;
  width:150px;
} */

@media screen and (max-width: 540px) {
  body {
    position: relative;
    background-color: #00000000;
    background: none;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(images/TheCarvedNarrow.png) no-repeat top center;
    background-size: contain;
    z-index: -1; /* Ensure it is behind other content */
  }
}

/* Landscape orientation fix - mobile only */
@media screen and (orientation: landscape) and (max-width: 768px) and (hover: none) and (pointer: coarse) {
  body {
    background: url(images/carvedbackdrop.png) no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
    background-color: #000;
  }
}


/* @media screen and (max-width: 540px) {
  body {
    background: url(images/TheCarvedNarrow.png) no-repeat top center;
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    background-color: #000000;
  }
} */

/* @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background: url(images/TheCarvedNarrow.png) no-repeat center center;
    background-size: contain; 
    background-attachment: fixed;
    background-color: #000000;
  }
} */
